

/***************************************************************************************
 * カテゴリータイトル↓↓↓↓↓
 ***************************************************************************************/


body {
    margin: 0;
    padding: 0;
    font-family: serif;

      }
.title{
    width:100%;
    background-color: rgb(238, 238, 238);
}
.title p{


     margin:0;
    padding:0;
    color:rgba(0, 0, 0, 0);
    text-align:center;
    padding:2vh;
   font-size:3vh;
   animation: fade 0.7s ease-in-out 0.7s forwards;

}
.title p::after{


}

/**************************************background-color:rgb(221, 78, 78);*************************************************
 *
 ***************************************************************************************/
 li{
     list-style: none;
 }
 a{
     color:rgb(46, 45, 45);
     text-decoration: none;

 }
 a:visited{
     color:black;
 }
 header{
     height:100px;
     width: 100%;
     z-index: 10;
     position: fixed;
     top:0;
     background-color: white;
 }
 .content{
     max-width: 1000px;
     margin:0px auto;
 }
 header img{
     height: 100px;
     width:100px;
     float:left;
     margin:0px 100px 0px 30px;

 }
 header li{

     float:left;
     width:120px;
     text-align: center;
     font-size :16px;
     padding:0 0px;
     line-height: 100px;
 }
 header li :hover{
     box-shadow: 0px 3px black;
 }
 li a{
     text-decoration:none;
     display: block;
     color:black;

 }




/***************************************************************************************
 * animation↓↓↓↓↓
 ***************************************************************************************/


@keyframes fade{
    from {
        color:rgba(0, 0, 0, 0);
        transform: translateX(-10%);
         letter-spacing: -5px;
        }
    to { color:rgb(24, 24, 24);
        transform: translateX(0%);

    }
  }
  /***************************************************************************************
 * animation↑↑↑↑↑↑ カテゴリータイトル↑↑↑↑↑↑↑
 ***************************************************************************************/

/***************************************************************************************
 * 雑談部屋　CSS↓↓↓↓↓
 ***************************************************************************************/


.talkroom{
    text-align:center;


}
.contents{
    padding:20px 0  0 0;
}
.contents img{
    width:calc(100px + 1vw);


}
.item{
    display:inline-block;
    padding:30px;
}
div.item a{
 text-decoration:none;


 cursor: pointer;
  transition-duration: 0.3s;
  color:rgb(0, 0, 0);
 /*

 */
}
div.item a:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
  color:rgb(182, 182, 182);
}
footer{
  background-color: rgb(238, 238, 238);
  line-height: 100%;
  text-align: center;
}
footer a {
  text-decoration: none;
}
a:visited{
  color: black;
}
/***************************************************************************************
 * 雑談部屋　CSS↑↑↑↑↑↑
 ***************************************************************************************/
