body{
    font-family:serif;
    margin:0 0;
    padding:0 0;
}
ul{
    margin: 0 0;
    padding: 0 0;
}
li{
    list-style: none;
}
a{
    color:rgb(46, 45, 45);
    text-decoration: none;
    
}
a:visited{
    color:black;
}
p{
    padding:0px;
    margin:0px;
}
header{
    height:100px;
    width: 100%;
    z-index: 10;
    position: fixed;
    top:0;
    background-color: white;
}
.content{
    max-width: 1000px;
    margin:0px auto;
}
header img{
    height: 100px;
    width:100px;
    float:left;
    margin:0px 100px 0px 30px;
    
}
header li{
    
    float:left;
    width:120px;
    text-align: center;
    font-size :16px;
    padding:0 0px;
    line-height: 100px;
}
header li :hover{
    box-shadow: 0px 3px black;
}
li a{
    text-decoration:none;
    display: block;
    color:black;

}
.title{
   
    
    width:100%;
    background-color: rgb(238, 238, 238);
}
.title p{ 
    margin:0;
    padding:0;
    color:black;
    text-align:center;
    padding:2vh;
    font-size:3vh;
   /*
     ↓　アニメーション  
   */
 animation: fade 0.7s ease-in-out 0.7s forwards;
 
}
main{
    padding-top: 100px;
    margin:  0;
}
.container{
    max-width: 1000px;
    width:100%;
    padding:25px 0px;
    margin:0px auto;
}
/*.container:after{
    content: "";
    display: block;
    clear: both;
}*/
.container h2{
    margin:0px;
}
.container p{
    padding:10px 0px;
}