/***************************************************************************************
 * カテゴリータイトル↓↓↓↓↓
 ***************************************************************************************/
body { 
    margin: 0;
    padding: 0;
    font-family: serif;
}  
main{
    padding-top:100px;
}
.title{
    width:100%;
    background-color: rgb(238, 238, 238);
}
.title p{ 
    margin:0;
    padding:0;
    color:rgba(0, 0, 0, 0);
    text-align:center;
    padding:2vh;
    font-size:3vh;
   /*
     ↓　アニメーション  
   */
 animation: fade 0.7s ease-in-out 0.7s forwards;
 
}

/***************************************************************************************
 *
 ***************************************************************************************/
/***************************************************************************************
 * animation↓↓↓↓↓
 ***************************************************************************************/


@keyframes fade{
    from { 
        color:rgba(0, 0, 0, 0);
        transform: translateX(-10%); 
         letter-spacing: -5px;
        }
    to { color:rgb(24, 24, 24);
        transform: translateX(0%); 
        }
  }
  /***************************************************************************************
 * animation↑↑↑↑↑↑ カテゴリータイトル↑↑↑↑↑↑↑ 
 ***************************************************************************************/

/***************************************************************************************
 * 雑談部屋　CSS↓↓↓↓↓
 ***************************************************************************************/
.talkroom{
    text-align:center;
}
.contents{
    padding:20px 0  0 0;
}
.contents img{
    width:calc(100px + 1vw);
}
.item{
    display:inline-block;
    padding:30px;
}
div.item a{
 text-decoration:none;
  cursor: pointer;
  transition-duration: 0.3s;
  color:rgb(0, 0, 0);
}
div.item a:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
  color:rgb(182, 182, 182);
} 
/*foot*/
footer{
  background-color: rgb(238, 238, 238);
  line-height: 410%;
  text-align: center;
}
footer a {
  text-decoration: none;
}
a:visited{
  color: black;
}


/***************************************************************************************
 * 雑談部屋　CSS↑↑↑↑↑↑
 ***************************************************************************************/
.hako{

  width: 40%;
}
 /***************************************************************************************
 * スクロール追加分↓↓↓↓↓ 
 ***************************************************************************************/
.BoxScTitle{
  padding: 5px 0 5px 0;
  color:rgb(90, 87, 87);
  width: 100%;

  
   border-bottom: solid 3px rgb(180, 175, 175);

}

 

 .BoxSc{
  padding: 0 0 0 10px;
  /*height をサイトに合わせて変える*/
  height: 100px;
  /**/
  overflow-y: scroll;
  
}
.BoxSc p:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  margin-left: 4px;
  border: transparent solid 5px;
  border-left-color: rgb(139, 139, 139);
  vertical-align: 4px;
}
/*
スクロールバー デザイン変更
*/
/*
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
border-radius: 10px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 50, .5);
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

*/
.album {
	margin: auto;
	background-color: white;
	position: relative;
}

.album img {
	width: 50%;
	animation-name: album;
	-webkit-animation-name: album;
	animation-duration: 10s;
	-webkit-animation-duration: 10s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}

.album .img1 {
	display: block;
	margin: 0 auto;
}

.album .img2 {
	animation-delay:5s;
	-webkit-animation-delay:5s;
	position: absolute;
	top: 0;
	left: 25%;
}

@keyframes album {
	0% {
		opacity: 0;
	}
	
	12.5% {
		opacity: 1;
	}

	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-webkit-keyframes album {
	0% {
		opacity: 0;
	}
	
	12.5% {
		opacity: 1;
	}

	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}