body{
    font-family:serif;
    margin:0 0;
    padding:0 0;
}
ul{
    margin: 0 0;
    padding: 0 0;
}
li{
    list-style: none;
}
a{
    color:rgb(46, 45, 45);
    text-decoration: none;

}
a:visited{
    color:black;
}
p{
  margin:0;
    padding:0;
}

header{
  background-color: white;
    height:100px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
}
.content{
    max-width: 1000px;
    margin:0px auto;
}
header img{
    height: 100px;
    width:100px;
    float:left;
    margin:0px 100px 0px 30px;

}
header li{
    float:left;
    font-size :16px;
    line-height: 100px;
    padding:0 0;
    text-align: center;
    width:120px;
}
header li :hover{
    box-shadow: 0px 3px black;
}
li a{
    text-decoration:none;
    display: block;
    color:black;

}

main{
    min-height: 100vh;
    overflow: hidden; /* heightを戻す */
    width: 1000px;
    margin: 0px auto;
}

.left{
    float:left;
    background-color: #eee;
    width: 800;
    text-align: center;
    margin-right: 10px
}
.right{
    float:right;
    background-color: #888;
    color: #fff;
    width: 250px;
    text-align: center;
}
.twitter-timeline{
  width: 250px;
  max-height: 150vh;

}

footer{
  background-color: rgb(238, 238, 238);
  line-height: 200%;
  text-align: center;
}
footer a {
  text-decoration: none;
}
a:visited{
  color: black;
}
